.container{
    padding: 10px 75px 10px 75px;
}
.product{
    width: auto;
    height: 307px;
    margin: 7px 15px 7px 15px;
    transition: transform 1s ease;
    position: relative;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.desc a {
    display: inline-block;
    margin-top: -9px;
    text-decoration: none;
    color: #333;
    height: 24px;
    font-size: 16px;
    font-weight: bolder;
    width: 91%;
    /* overflow-wrap: normal; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: -34px;
}
.tag{
    height: 11px;
    font-weight: lighter;
    color: #a4a4a4;
}
.price{
    text-transform: none;
    font-size: 13px;
    overflow: hidden; /* Ẩn phần văn bản vượt ra ngoài */
    display: -webkit-box; /* Sử dụng dạng display của WebKit */
    -webkit-box-orient: vertical; /* Hướng của box, theo chiều dọc */
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản bị cắt */
    margin-top: 2px;
}
.desc a:hover{
    color:yellowgreen
}
.images{
    width: 100%;
    overflow:hidden ;
    justify-content: center;

}
.product img{
    cursor: pointer;
    transition: transform 0.7s ease;
    margin-left: 30px;
    margin-top: 20px;
    margin: auto;

}
.product:hover img{
    transform: scale(1.1);
}

