.container{
    width: 100%;
}
.title{
    text-transform: uppercase;
}
.title span{
    width: 32px;
    border: 1px double #cdcdcd;
    height: 1px;
    display: block;
    border-left: none;
    border-right: none;
    margin-top: -16px;
}
.listproduct{
    width: 100%;
    margin-top: 15px;
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}
.product{
    width: 95%;
    height: 60px;
    display: flex;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-left: 5px;
    justify-content: center;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
}
.images{
    width: 30%;
    display: flex;
    justify-content: center;
}
.desc{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    overflow-wrap: initial;
}
.listproduct::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
  }

  .listproduct::-webkit-scrollbar-track {
    background: #f0e4e4;
    border-radius: 5px;
  }
  .listproduct::-webkit-scrollbar-track:hover{
    width: 20px;
  }
  
  /* Handle */
  .listproduct::-webkit-scrollbar-thumb {
    background: #adacac;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  .listproduct::-webkit-scrollbar-thumb:hover {
    background: #b4a0a0;
  }