/* .container{
    height: 100%;
    max-width: 100%;
    display: flex;
    
} */
.container{
    padding: 10px 75px 10px 75px;
}
.product{
    width: 275px;
    height: 369px;
    margin: 7px 15px 7px 15px;
    transition: transform 1s ease;
    position: relative;
    border: 1px solid transparent;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: -11px;
}
.desc a {
    display: block; 
    margin-top: -5px; 
    text-decoration: none;
    color: #333;
    height: 45px;
    font-size: 1rem;
}
.tag{
    height: 11px;
    font-weight: lighter;
    color: #a4a4a4;
}
.price{
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}
.desc a:hover{
    color:yellowgreen
}
.images{
    overflow:hidden ;
    justify-content: center;
}
.product img{
    cursor: pointer;
    transition: transform 0.7s ease;
    margin-left: 20px;
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content:center ;


}
.product:hover img{
    transform: scale(1.1);
}
.product:hover{
    border: 1px dashed rgb(191, 78, 182);
}
.icon{
    position: absolute;
    width: 10px;
    font-size: 29px;
    color: black;
    margin-left: -259px;
    margin-top: -75px;
    cursor: pointer;
    visibility: hidden;
    transition: 0.5s;
}

.product:hover .icon {
    visibility: visible;
    margin-top: -100px;
    transform: translateY(5px);
    
}
.icon:hover{
    color: rgb(159, 190, 97);
}