.container{
    width: 100%;
    display: flex;
    position: relative;
}

.image{
    z-index: -3;
}

.layer{
    height: 500px;
    width: 500px;
    background-color: rgb(218, 165, 32, 0.5);
    position: absolute;
    display: flex;
    left: 150px;
    top: 100px;
    /* opacity: 0.5; */
    z-index: 100;
}

.letter{
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
    right: 20px;
    line-height: 1.6;
    font-size: 13px;
    z-index: 1;
} 

.layer2{
    height: 500px;
    width: 720px;
    background-color: white;
    position: absolute;
    left: 500px;
    top: 0px;
    z-index: 1000;
}

.letter2{
    padding-left: 100px;
    padding-top: 100px;
}

.letter2 label{
    padding-left: 70px;
    padding-top: 5px;
}
.letter2 input {
    width: 30%; /* Độ rộng là 100% của phần container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    color: #333;
}

.letterContent{
    height: 100px;
    width: 450px !important;
}

.letter2 button{
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 170px;
    padding-top: 1%;
    font-size: 23px;
    font-weight: bold;
    margin-top: 15px;
    align-items: center;
}

.letter2 input:not(:last-child) {
    margin-left: 50px; /* Khoảng cách 20px giữa các ô input trừ ô cuối cùng */
}

.placeholder {
    position: absolute;
    color: rgba(0, 0, 0, 0.5); /* Màu mờ */
    pointer-events: none; /* Không cho phép tương tác với văn bản */
    transition: all 0.2s ease; /* Hiệu ứng mờ mịt */
}

input:focus + .placeholder,
textarea:focus + .placeholder {
    transform: translate(-5px, -25px) scale(0.8);
}
