.container{
    width: 100%;
    position: relative;
    height: 350px;
    background-color: #000000;
    margin-bottom: 0;
    display: flex;
    color: #fff;
    bottom: 0;
}

.info{
    height: auto;
    width: 520px;
    margin: auto;
    padding-left: 30px;
}

.nav{
    right: 50px;
}

.desc{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 620px;
    border-left: 1px dashed #414040;
    border-right: 1px dashed #414040;
    padding: 0 60px 0 60px;
    height: 78%;
}
.desc p{
    color: #a4a4a4;
    font-size: 16px;
    margin-bottom: 0.8em;
    margin-bottom: 40px;
}
.input{
    height: 43px;
    width: 334px;
    background-color: white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow: hidden;
    font-weight: bolder;
    outline: none;
    margin-bottom: 70px;
    
}
.input input{
    width: 80%;
    height: 90%;   
    border: none;
    font-size: 19px;
    outline: none;
    margin-left: 8px;
    
}
.input button{
    width: 20%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 54px;
}
.input button:hover{
    background-color: #d2d4d6;
}
.contact{
    margin-top: 37px;
}
.contact p{
 font-size: 16px;
 color: #a4a4a4;
 
}
.nav h2{
    text-align: center;
    margin-top: -120px;
}
