.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.extra{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.product{
    width: 70%;
    height: auto;

}
.desc{
    width: 100%;
    height: 420px;
    border-bottom: 1px solid #ddd;
    display: flex;
}
.image{
    width: 45%;
    height: 100%;
}
.info{
    width: 55%;
    height: 100%;
    padding: 0 35px;
}
.info h5{
    text-transform: uppercase;
    height: 0px;
    font-weight: 300;
    color: #eda5a5;
    top: 0;
    margin-top: 6px;
}
.info span{
    border-bottom: 5px double #cdcdcd;
    margin-top: -12px;
    content: "";
    /* left: 0; */
    position: absolute;
    width: 38px;
    z-index: 1;
}
.pdesc{
    line-height: 26px;
    font-weight: initial;
}
.quantity{
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}
.quantity input{
    width: 46px;
    height: 31px;
    font-size: 16px;
    margin-left: 20px;
}
.quantity button{
    width: 163px;
    height: 37px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    background-color: #e2ba48;
    font-weight: bolder;
    border: none;
    outline: none;
    margin-left: 50px;
    cursor: pointer;
}
.quantity button:hover{
    background-color: #cca743;
}
.idproduct{
    height: 19px;
    font-size: 13px;
    align-items: center;
    /* justify-content: center; */
    border-top: 1px solid #cfb9c5;
    margin-top: -7px;
    display: flex;
    color: #353535;
    padding-top: 4px;
}
.tabdesc{
    width: 100%;
    height: 550px;
    border: 1px solid #ccc;
    margin-top: 50px;
}
.infoproduct{
    line-height: 39px;
    display: flex;
    padding: 15px 41px;
}
.infoproduct table{
    width: 100%;
}
.infoproduct th{
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 14px;
}
.infoproduct td{
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.react-tabs__tab--selected {
    background: #eae6e6 !important;
    border-color: #aaa;
    color: #453030;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    font-weight: bolder !important;
}
.warranty{
    padding: 15px 41px;
    line-height: 26px;
    font-size: 16px;
}
.rating{
    padding: 0px 41px;
    height: 500px;
    display: block;
}
.comment{
    height: 70%;
    border-bottom: 1px solid rgb(78, 78, 84);
    overflow-y: scroll;
}

.singlecomment{
    height: auto;
    border-bottom: 1px solid #ddd;
    max-height: 130px;
    position: relative;
}
.userinfo{
    display: flex;
}
.ratinginfo p{
    height: 23px;
    margin: 7px 32px 0 29px;
    width: 127px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}
.ratinginfo p:last-child{
    font-weight: 100;
    color: #aea7a7;
    margin: 0px 0 0 13px;
    font-size: 13px;
}
.countstar{
    height: 31px;
    /* left: 0; */
    position: absolute;
    /* margin-right: 0; */
    right: 193px;
}
.content{
    display: flex;
}
.textcontent{
    width: 75%;
    font-size: 14px;
    padding-left: 8px;
    line-height: 20px;
}
.imgcontent{
    width: 25%;
    overflow: hidden;
}
.post{
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 2px;
  }
  
  .post textarea {
    
    padding: 5px;
    margin-bottom: 10px;
    resize: vertical;
    height: 54px;
  }
  
  .post button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    height: 36px;
  }

  .sameproduct{
    width: 100%;
    height: 460px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    
  }
  .title{
    height: 30px;
    margin-top: -12px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 70px;
  }
  .slider{
    height: 450px;
    width: 100%;
  }